

<mat-nav-list> 
  <a mat-list-item routerLink="/chisiamo" >

    <mat-icon>home</mat-icon>
    <span class="nav-caption">Home</span>
  </a>


 <a mat-list-item routerLink="/articoli/2/8" >

    <span class="material-icons">table_view</span>
    <span class="nav-caption">Notizie</span>
  </a>

    <a mat-list-item routerLink="/eventi/1/2">
      <mat-icon>home</mat-icon>
      <span class="nav-caption">Eventi</span>
    </a>

    <a mat-list-item routerLink="/sentieri-list/4/1/CAI BOLOGNA">
      <mat-icon>home</mat-icon>
      <span class="nav-caption">Lista Sentieri</span>
    </a>

    <a mat-list-item routerLink="/leaflet-path/5/1/100">
      <mat-icon>home</mat-icon>
      <span class="nav-caption">Mappa sentieri</span>
    </a>

  
    <a mat-list-item routerLink="/mappa-leaflet/5/1/100BO">
      <mat-icon>home</mat-icon>
      <span class="nav-caption">Mappa Leaflet</span>
    </a>

    <a mat-list-item routerLink="/map/5/1/100BO">
      <mat-icon>home</mat-icon>
      <span class="nav-caption">Mappa Cerca</span>
    </a>

    <a mat-list-item routerLink="/map-google-multi">
      <mat-icon>home</mat-icon>
      <span class="nav-caption">MappaGoogle multi</span>
    </a>